.env
php.ini
*.log
auth2.php
conexion.php
config.php
DB.php
env.php
config/
docs/
logs/
sqlite/
tools/
nginx.exe
.hgtags
nginx/conf/
nginx/logs/
nginx/temp/
nginx/docs/
nginx/contrib/
php/
wedev/Tablas
wedev/logs
act-we.sh